apiVersion: v1
kind: Service
metadata:
  name: {{ include "blockchain-exporter.fullname" . }}
  labels:
    {{- include "blockchain-exporter.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.healthPort }}
      targetPort: health
      protocol: TCP
      name: health
    - port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "blockchain-exporter.selectorLabels" . | nindent 4 }}
